<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <link rel="stylesheet" href="public/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
  /* General Styles */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Navbar Styles */
  .navbar {
    width: 100%;
    background-color: #2c3e50;
    overflow: hidden;
  }

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    color: #2c3e50;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 15px;
  }

  a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Responsive Design */
  @media (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
</style>

<body>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/noleggio">noleggio</a>
    <a href="/static/index.html">Chat</a>
    <a href="/logout">Logout</a>
  </div>
  <h1>Welcome back</h1>
  <p>{{message}}</p>
</body>

</html>