<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea un nuovo account</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <center><h1><em>DRESSIFY</em></h1></center><br><br>
        <div class="container">
            <h1>Nuovo account</h1>
            <form @submit.prevent="handleSubmit">
                <label for="email">Email</label>
                <input type="email" v-model="email" required>
            
                <label for="name">Nome</label>
                <input type="text" v-model="name" required>
            
                <label for="phone">Numero di telefono</label>
                <input type="tel" v-model="phone" required>
            
                <label for="nationality">Nazionalità</label>
                <input type="text" v-model="nationality" required>
            
                <label for="password">Password</label>
                <input type="password" v-model="password" required>
            
                <label for="dob">Data di nascita</label>
                <input type="date" v-model="dob" required>
            
                <button type="submit">Registrati</button>
                <p>Hai già un account? <a href="index.html">Login qui</a></p>
            </form>
            

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="app.js"></script>

</body>
</html>
