<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRESSIFY</title>
    <link rel="stylesheet" href="prodotti.css">
    <link rel="stylesheet" href="sidebar.css">
</head>

<body>
    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <figure class="avatar-box">
                <img src="./assets/dressify.png" alt="userInfo.name" width="60">
            </figure> <!-- Modifica il link con il tuo logo -->
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="products.html">Prodotti</a></li>
            <li><a href="sicurezza.html">Sicurezza</a></li>
            <li><a href="feedback.html">Feedback</a></li>
        </ul>
    </nav>


    <div class="container">
        <div id="app">
            <h1>Gestione Prodotti</h1>
            <form @submit.prevent="addProduct">
                <input type="text" v-model="newProduct.category" placeholder="Categoria" required>
                <input type="text" v-model="newProduct.size" placeholder="Taglia" required>
                <input type="text" v-model="newProduct.color" placeholder="Colore" required>
                <input type="text" v-model="newProduct.brand" placeholder="Marca" required>
                <input type="text" v-model="newProduct.condition" placeholder="Condizione" required>
                <input type="number" v-model="newProduct.price" placeholder="Prezzo" required>
                <input type="file" @change="handleImageUpload" multiple accept="image/*" required>
                <button type="submit">Aggiungi Prodotto</button>
            </form>

            <div v-for="(product, index) in products" :key="product.id">
                <h2>{{ product.brand }} - {{ product.category }}</h2>
                <p>Taglia: {{ product.size }}</p>
                <p>Colore: {{ product.color }}</p>
                <p>Condizione: {{ product.condition }}</p>
                <p>Prezzo: €{{ product.price }}</p>
                <div v-if="product.images && product.images.length"><img v-for="image in product.images" :src="`/public/assets/${image}`" :alt="product.brand" width="100" height="100">
                </div>
                <button @click="editProduct(index)">Modifica</button>
                <button @click="removeProduct(index)">Rimuovi</button>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="products.js"></script>
</body>

</html>