body {
    background-color: #000; /* Sfondo nero */
    color: #fff; /* Testo bianco */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 25%;
    background-color: #1a1a1a;
    padding: 20px;
    color: #fff;
}

#app {
    width: 75%;
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.product-form, .product-list {
    width: 48%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #333;
    border: 1px solid #555;
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-group input:focus, .form-group select:focus {
    background-color: #444;
    border-color: #777;
}

button {
    background-color: #444; /* Colore pulsante */
    color: #fff; /* Testo bianco */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    transform: scale(1.05);
    background-color: #555;
}

.product-item {
    background-color: #222;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.product-item:hover {
    background-color: #333;
}

.button-group button {
    margin-right: 10px;
}

.remove-button {
    background-color: red;
    color: white;
}

.sidebar-info {
    text-align: center;
}

.avatar-box img {
    border-radius: 50%;
}

.info-content .name {
    font-size: 1.5em;
    margin: 10px 0;
}

.info-content .title {
    color: gray;
}

.contacts-list, .social-list {
    list-style: none;
    padding: 0;
}

.contact-item, .social-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-box {
    margin-right: 10px;
}

.contact-link, .contact-title, address, time {
    margin: 0;
}

.separator {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.sidebar-info {
    text-align: center;
}

.avatar-box img {
    border-radius: 50%;
}

.info-content .name {
    font-size: 1.5em;
    margin: 10px 0;
}

.info-content .title {
    color: gray;
}

.contacts-list, .social-list {
    list-style: none;
    padding: 0;
}

.contact-item, .social-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-box {
    margin-right: 10px;
}

.contact-link, .contact-title, address, time {
    margin: 0;
}

.separator {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
